<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a1f18782ab.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .title{
       margin:0;
      }
      .link{
       color: white;
      }
      .btn.btn-default span{
       color: white;
      }
      .btn.btn-default span:hover{
       color: #C0C0C0;
      }
      
    </style>
  </head>

  <body>
    <header style="background-color:#343a40;"> <!-- 背景色を変える style="background-color:色;" -->
      <nav class="navbar navbar-expand-lg navbar-light">
       <div class="container" style="color:white;"> <!-- 文字の色を変える style="color:色;" -->
        <h5 class="title">Bookers</h5>
   
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>  <!-- ハンバーガーのやつ -->
     
        <div class="collapse navbar-collapse" id="navbarNavDropdown"> <!-- 下のやつをハンバーガーに変える -->
         <ul class="navbar-nav ml-auto"> <!-- 右に揃える -->
         
          <% if user_signed_in? %>
           <li class="text">
            <%= link_to user_path(current_user), class: "btn btn-default" do %>
             <span><i class="fa-solid fa-house"></i> Home</span>
            <% end %>
           </li>
           <li class="text">
            <%= link_to users_path, class: "btn btn-default" do %>
             <span><i class="fa-solid fa-users"></i> Users</span>
            <% end %>
           </li>
           <li class="text">
            <%= link_to books_path, class: "btn btn-default" do %> 
             <span><i class="fa-solid fa-book-open"></i> Books</span>
            <% end %>
           </li>
           <li class="text">
            <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-default" do %>
             <span><i class="fa-solid fa-right-from-bracket"></i> Log out</span>
            <% end %>
           </li>
          <% else %>
           <li class="text">
            <%= link_to root_path, class: "btn btn-default" do %>
             <span><i class="fa-solid fa-house"></i> Home</span>
            <% end %>
           </li>
           <li class="text">
            <%= link_to "/homes/about", class: "btn btn-default" do %>
             <span><i class="fa-solid fa-link"></i> About</span>
            <% end %>
           </li>
           <li class="text">
            <%= link_to new_user_registration_path, class: "btn btn-default" do %>
             <span><i class="fa-solid fa-user-plus"></i> Sing up</span>
            <% end %>
           </li>
           <li class="text">
            <%= link_to new_user_session_path, class: "btn btn-default" do %>
             <span><i class="fa-solid fa-right-to-bracket"></i> Log in</span>
            <% end %>
           </li>
         <% end %>
          
        </ul>
       </div>
       
      </div>
     </nav>
    </header>
    <%= yield %>
    <footer>
     <div class="container mt-5">
     <div class="row">
      <div class="mx-auto">
       <p>CopyRight Infratop.inc</p>
      </div>
     </div>
     </div>
    </footer>
  </body>
  
</html>
